<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qxg.study.studyandroid">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.Toast.ToastTest" />
        <activity android:name=".view.ReadMdActivity" />
        <activity android:name=".view.Intent.IntentTest" />
        <activity android:name=".view.Intent.TmpActivity">
            <intent-filter>
                <action android:name="com.qxg.test.t1" />
                <action android:name="com.qxg.test.t2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.qxg.category.t1" />
            </intent-filter>
        </activity>
        <activity android:name=".view.AlertDialog.AlertDialogTest" />
        <activity android:name=".view.ProgressDialog.ProgressDialogTest" />
        <activity android:name=".view.RecyclerView.RecyclerViewTest" />
        <activity android:name=".view.RecyclerView.SimpleRVActivity" />
        <activity android:name=".view.Fragment.FragmentTest" />
        <activity android:name=".view.Fragment.SimpleFragmentActivity" />
        <activity android:name=".view.Fragment.AlterFragmentActivity" />
        <activity android:name=".view.Broadcast.BroadcastTest" />

        <receiver
            android:name=".view.Broadcast.TestReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.qxg.MyAction2" />
            </intent-filter>
        </receiver>

        <activity android:name=".view.Storage.StorageTest" />
        <activity android:name=".view.SQLite.SQLiteTest" />
        <activity android:name=".view.Process.ProcessTest" />
        <activity android:name=".view.ContentProvider.ContentProviderTest" />
        <activity android:name=".view.ContentProvider.ContactsActivity" />

        <provider
            android:name=".provider.MyProvider"
            android:authorities="com.qxg.study.studyandroid.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.qxg.study.studyandroid.fileprovider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".view.ContentProvider.CatActivity" />
        <activity android:name=".view.Notification.NotificationTest" />
        <activity android:name=".view.Camera.CameraTest" />
        <activity android:name=".view.Music.MusicTest" android:launchMode="singleTask"></activity>
    </application>

</manifest>